Repository prgrms-web-devcourse-final-project/WEB4_5_Sahur_BE, pull requests merged in 2025-05, with the labels that each got.

#122 Feat/#121 같은 카테고리 공동구매 불러오기 api 구현
  backend/src/main/java/com/team5/backend/domain/groupBuy/controller/GroupBuyController.java
  backend/src/main/java/com/team5/backend/domain/groupBuy/repository/GroupBuyRepository.java
  backend/src/main/java/com/team5/backend/domain/groupBuy/service/GroupBuyService.java
  backend/src/test/java/com/team5/backend/domain/dibs/service/DibsServiceTest.java
  backend/src/test/java/com/team5/backend/domain/groupBuy/service/GroupBuyServiceTest.java
Labels: ✨ feat, 🔥 backend

#124 Refactor/#120 회원 도메인 리팩토링
  backend/src/main/java/com/team5/backend/domain/member/member/controller/MemberController.java
  backend/src/main/java/com/team5/backend/domain/member/member/dto/TokenRefreshResDto.java
  backend/src/main/java/com/team5/backend/domain/member/member/service/AuthService.java
  backend/src/main/java/com/team5/backend/domain/member/member/service/MemberService.java
  backend/src/main/java/com/team5/backend/global/exception/code/AuthErrorCode.java
  backend/src/main/java/com/team5/backend/global/filter/JwtAuthenticationFilter.java
  backend/src/main/java/com/team5/backend/global/handler/OAuth2AuthenticationSuccessHandler.java
  backend/src/main/java/com/team5/backend/global/security/AuthTokenManager.java
  backend/src/main/java/com/team5/backend/global/security/SecurityConfig.java
  backend/src/main/java/com/team5/backend/global/util/JwtUtil.java
Labels: ✨ feat, 🔥 backend, ♻️ refactor

#123 Refactor/#114 상품, 카테고리, 관심상품 예외처리
  backend/src/main/java/com/team5/backend/domain/category/controller/CategoryController.java
  backend/src/main/java/com/team5/backend/domain/category/service/CategoryService.java
  backend/src/main/java/com/team5/backend/domain/dibs/controller/DibsController.java
  backend/src/main/java/com/team5/backend/domain/dibs/dto/DibsCreateReqDto.java
  backend/src/main/java/com/team5/backend/domain/dibs/service/DibsService.java
  backend/src/main/java/com/team5/backend/domain/history/controller/HistoryController.java
  backend/src/main/java/com/team5/backend/domain/history/repository/HistoryRepository.java
  backend/src/main/java/com/team5/backend/domain/history/service/HistoryService.java
  backend/src/main/java/com/team5/backend/domain/order/dto/OrderDetailResDto.java
  backend/src/main/java/com/team5/backend/domain/product/controller/ProductController.java
  backend/src/main/java/com/team5/backend/domain/product/converter/StringListConverter.java
  backend/src/main/java/com/team5/backend/domain/product/dto/ProductCreateReqDto.java
  backend/src/main/java/com/team5/backend/domain/product/dto/ProductResDto.java
  backend/src/main/java/com/team5/backend/domain/product/dto/ProductUpdateReqDto.java
  backend/src/main/java/com/team5/backend/domain/product/entity/Product.java
  backend/src/main/java/com/team5/backend/domain/product/service/ProductService.java
  backend/src/main/java/com/team5/backend/domain/review/controller/ReviewController.java
  backend/src/main/java/com/team5/backend/global/exception/code/DibsErrorCode.java
  backend/src/main/java/com/team5/backend/global/exception/code/ProductErrorCode.java
  backend/src/main/java/com/team5/backend/global/init/BaseInitData.java
  backend/src/test/java/com/team5/backend/domain/dibs/controller/DibsControllerTest.java
  backend/src/test/java/com/team5/backend/domain/dibs/service/DibsServiceTest.java
  backend/src/test/java/com/team5/backend/domain/groupBuy/service/GroupBuyServiceTest.java
  backend/src/test/java/com/team5/backend/domain/order/controller/OrderControllerTest.java
  backend/src/test/java/com/team5/backend/domain/product/controller/ProductControllerTest.java
  backend/src/test/java/com/team5/backend/domain/product/service/ProductServiceTest.java
Labels: 🔥 backend, ♻️ refactor

#128 Refactor/#117 주문 배송 결제 리팩토링 진행
  backend/src/main/java/com/team5/backend/domain/delivery/controller/DeliveryController.java
  backend/src/main/java/com/team5/backend/domain/delivery/entity/Delivery.java
  backend/src/main/java/com/team5/backend/domain/delivery/repository/DeliveryRepository.java
  backend/src/main/java/com/team5/backend/domain/delivery/service/DeliveryService.java
  backend/src/main/java/com/team5/backend/domain/order/controller/OrderController.java
  backend/src/main/java/com/team5/backend/domain/order/entity/Order.java
  backend/src/main/java/com/team5/backend/domain/order/repository/OrderRepository.java
  backend/src/main/java/com/team5/backend/domain/order/service/OrderIdGenerator.java
  backend/src/main/java/com/team5/backend/domain/order/service/OrderService.java
  backend/src/main/java/com/team5/backend/domain/payment/controller/PaymentController.java
  backend/src/main/java/com/team5/backend/domain/payment/repository/PaymentRepository.java
  backend/src/main/java/com/team5/backend/domain/payment/service/PaymentService.java
  backend/src/main/java/com/team5/backend/global/exception/code/DeliveryErrorCode.java
  backend/src/main/java/com/team5/backend/global/init/BaseInitData.java
  backend/src/test/java/com/team5/backend/domain/delivery/controller/DeliveryControllerTest.java
  backend/src/test/java/com/team5/backend/domain/delivery/service/DeliveryServiceTest.java
  backend/src/test/java/com/team5/backend/domain/order/controller/OrderControllerTest.java
  backend/src/test/java/com/team5/backend/domain/order/service/OrderServiceTest.java
  backend/src/test/java/com/team5/backend/domain/payment/controller/PaymentControllerTest.java
  backend/src/test/java/com/team5/backend/domain/payment/service/PaymentServiceTest.java
Labels: ✨ feat, 🔥 backend, ♻️ refactor, 🧪 test

#131 Refactor/#130 알림 엔티티 read 이름 변경 isread
  backend/src/main/java/com/team5/backend/domain/notification/dto/NotificationResDto.java
  backend/src/main/java/com/team5/backend/domain/notification/dto/NotificationUpdateReqDto.java
  backend/src/main/java/com/team5/backend/domain/notification/entity/Notification.java
  backend/src/main/java/com/team5/backend/domain/notification/service/NotificationService.java
  backend/src/main/java/com/team5/backend/global/init/BaseInitData.java
Labels: 🐛 bug, 🔥 backend, ♻️ refactor

#134 Feat/#129 결제 페이지 관련 추가 기능 구현
  backend/src/main/java/com/team5/backend/domain/order/controller/OrderController.java
  backend/src/main/java/com/team5/backend/domain/order/dto/OrderPaymentInfoResDto.java
  backend/src/main/java/com/team5/backend/domain/order/service/OrderService.java
  backend/src/test/java/com/team5/backend/domain/order/controller/OrderControllerTest.java
  backend/src/test/java/com/team5/backend/domain/order/service/OrderServiceTest.java
Labels: ✨ feat, 🔥 backend

#135 Test/#126 회원 도메인 테스트 코드 작성
  backend/src/main/java/com/team5/backend/domain/member/member/controller/MemberController.java
  backend/src/main/java/com/team5/backend/domain/member/member/dto/EmailSendReqDto.java
  backend/src/main/java/com/team5/backend/domain/member/member/dto/GetMemberResDto.java
  backend/src/main/java/com/team5/backend/domain/member/member/dto/NicknameCheckReqDto.java
  backend/src/main/java/com/team5/backend/domain/member/member/dto/PasswordResetReqDto.java
  backend/src/main/java/com/team5/backend/domain/member/member/dto/PatchMemberReqDto.java
  backend/src/main/java/com/team5/backend/domain/member/member/dto/SignupReqDto.java
  backend/src/main/java/com/team5/backend/domain/member/member/entity/Member.java
  backend/src/main/java/com/team5/backend/domain/member/member/service/MemberService.java
  backend/src/main/java/com/team5/backend/global/exception/RsDataUtil.java
  backend/src/main/java/com/team5/backend/global/util/ImageUtil.java
  backend/src/test/java/com/team5/backend/domain/member/member/controller/MemberControllerTest.java
  backend/src/test/java/com/team5/backend/domain/member/member/service/AuthServiceTest.java
  backend/src/test/java/com/team5/backend/domain/member/member/service/MemberServiceTest.java
  backend/src/test/java/com/team5/backend/domain/order/controller/OrderControllerTest.java
Labels: 🔥 backend, ♻️ refactor, 🧪 test

#142 fix: 회원 도메인 오류 해결
  backend/src/main/java/com/team5/backend/domain/member/member/dto/EmailSendReqDto.java
  backend/src/main/java/com/team5/backend/domain/member/member/dto/NicknameCheckReqDto.java
  backend/src/main/java/com/team5/backend/domain/member/member/dto/PasswordResetReqDto.java
Labels: 🔥 backend

#143 refactor: 회원 탈퇴 테스트를 위한 다른 테이블과 연관 없는 회원 데이터 생성
  backend/src/main/java/com/team5/backend/global/init/BaseInitData.java
Labels: 🔥 backend

#145 Refactor/#133 테스트 코드 수정
  backend/src/test/java/com/team5/backend/domain/dibs/controller/DibsControllerTest.java
  backend/src/test/java/com/team5/backend/domain/member/member/service/MemberServiceTest.java
  backend/src/test/java/com/team5/backend/domain/notification/service/NotificationServiceTest.java
  backend/src/test/java/com/team5/backend/domain/order/service/OrderServiceTest.java
  backend/src/test/java/com/team5/backend/domain/product/service/ProductServiceTest.java
Labels: 🔥 backend, ♻️ refactor

#147 Refactor/#146 오류 메세지 수정
  backend/src/main/java/com/team5/backend/global/dto/RsData.java
  backend/src/main/java/com/team5/backend/global/exception/ErrorResponse.java
  backend/src/main/java/com/team5/backend/global/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/team5/backend/global/exception/RsDataUtil.java
  backend/src/main/java/com/team5/backend/global/exception/code/AuthErrorCode.java
  backend/src/main/java/com/team5/backend/global/exception/code/CommonErrorCode.java
  backend/src/main/java/com/team5/backend/global/exception/code/DeliveryErrorCode.java
  backend/src/main/java/com/team5/backend/global/exception/code/MemberErrorCode.java
  backend/src/main/java/com/team5/backend/global/exception/code/OrderErrorCode.java
  backend/src/main/java/com/team5/backend/global/exception/code/PaymentErrorCode.java
  backend/src/main/java/com/team5/backend/global/exception/code/ReviewErrorCode.java
Labels: 🔥 backend, ♻️ refactor

#149 Refactor/#144 회원 프론트 요청 사항 반영
  backend/src/main/java/com/team5/backend/domain/member/member/controller/MemberController.java
  backend/src/main/java/com/team5/backend/domain/member/member/dto/LoginReqDto.java
  backend/src/main/java/com/team5/backend/domain/member/member/service/AuthService.java
  backend/src/main/java/com/team5/backend/domain/member/member/service/MailService.java
  backend/src/main/java/com/team5/backend/domain/member/member/service/MemberService.java
  backend/src/main/java/com/team5/backend/global/dto/RsData.java
  backend/src/main/java/com/team5/backend/global/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/team5/backend/global/exception/RsDataUtil.java
  backend/src/main/java/com/team5/backend/global/filter/JwtAuthenticationFilter.java
  backend/src/main/java/com/team5/backend/global/handler/OAuth2AuthenticationSuccessHandler.java
  backend/src/main/java/com/team5/backend/global/security/AuthTokenManager.java
  backend/src/main/java/com/team5/backend/global/security/SecurityConfig.java
  backend/src/main/java/com/team5/backend/global/util/JwtUtil.java
Labels: 🔥 backend, ♻️ refactor

#151 Feat/#127 elastic search
  backend/build.gradle
  backend/docker-compose.yml
  backend/src/main/java/com/team5/backend/domain/product/search/document/ProductDocument.java
  backend/src/main/java/com/team5/backend/domain/product/search/service/ProductSearchService.java
  backend/src/main/java/com/team5/backend/global/config/ElasticsearchConfig.java
  backend/src/main/java/com/team5/backend/global/exception/code/ProductSearchErrorCode.java
Labels: 🔥 backend, ♻️ refactor

#158 Refactor/#154 객체반환 dto화
  backend/src/main/java/com/team5/backend/domain/category/dto/CategoryDto.java
  backend/src/main/java/com/team5/backend/domain/groupBuy/dto/GroupBuyDetailResDto.java
  backend/src/main/java/com/team5/backend/domain/groupBuy/dto/GroupBuyResDto.java
  backend/src/main/java/com/team5/backend/domain/groupBuy/repository/GroupBuyRepository.java
  backend/src/main/java/com/team5/backend/domain/groupBuy/service/GroupBuyService.java
  backend/src/main/java/com/team5/backend/domain/product/dto/ProductDto.java
  backend/src/test/java/com/team5/backend/domain/groupBuy/service/GroupBuyServiceTest.java
Labels: 🔥 backend, ♻️ refactor

#155 Refactor/#137 주문 배송 도메인 리팩토링
  backend/src/main/java/com/team5/backend/domain/delivery/controller/DeliveryController.java
  backend/src/main/java/com/team5/backend/domain/delivery/dto/DeliveryReqDto.java
  backend/src/main/java/com/team5/backend/domain/delivery/dto/DeliveryResDto.java
  backend/src/main/java/com/team5/backend/domain/delivery/entity/Delivery.java
  backend/src/main/java/com/team5/backend/domain/delivery/entity/DeliveryStatus.java
  backend/src/main/java/com/team5/backend/domain/delivery/repository/DeliveryRepository.java
  backend/src/main/java/com/team5/backend/domain/delivery/service/DeliveryService.java
  backend/src/main/java/com/team5/backend/domain/order/controller/OrderController.java
  backend/src/main/java/com/team5/backend/domain/order/dto/OrderListResDto.java
  backend/src/main/java/com/team5/backend/domain/order/entity/FilterStatus.java
  backend/src/main/java/com/team5/backend/domain/order/entity/Order.java
  backend/src/main/java/com/team5/backend/domain/order/repository/OrderRepository.java
  backend/src/main/java/com/team5/backend/domain/order/service/OrderCleanupScheduler.java
  backend/src/main/java/com/team5/backend/domain/order/service/OrderService.java
  backend/src/main/java/com/team5/backend/global/exception/code/DeliveryErrorCode.java
  backend/src/main/java/com/team5/backend/global/init/BaseInitData.java
  backend/src/test/java/com/team5/backend/domain/delivery/controller/DeliveryControllerTest.java
  backend/src/test/java/com/team5/backend/domain/delivery/service/DeliveryServiceTest.java
  backend/src/test/java/com/team5/backend/domain/order/controller/OrderControllerTest.java
  backend/src/test/java/com/team5/backend/domain/order/service/OrderServiceTest.java
Labels: ✨ feat, 🔥 backend, ♻️ refactor

#157 Feat/#152 실시간 쇼핑 키워드 순위
  backend/.gitignore
  backend/src/main/java/com/team5/backend/domain/groupBuy/aspect/GroupBuyViewAspect.java
  backend/src/main/java/com/team5/backend/domain/product/controller/KeywordController.java
  backend/src/main/java/com/team5/backend/domain/product/dto/KeywordResDto.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-prod.yml
Labels: ✨ feat, 🔥 backend

#159 Refactor/#141 Product , Category 리팩토링 및 테스트 코드 수정
  backend/build.gradle
  backend/src/main/java/com/team5/backend/domain/category/dto/CategoryCreateReqDto.java
  backend/src/main/java/com/team5/backend/domain/category/dto/CategoryResDto.java
  backend/src/main/java/com/team5/backend/domain/category/dto/CategoryUpdateReqDto.java
  backend/src/main/java/com/team5/backend/domain/category/entity/Category.java
  backend/src/main/java/com/team5/backend/domain/category/service/CategoryService.java
  backend/src/main/java/com/team5/backend/domain/dibs/entity/Dibs.java
  backend/src/main/java/com/team5/backend/domain/product/repository/ProductRepository.java
  backend/src/main/java/com/team5/backend/domain/product/repository/ProductRepositoryCustom.java
  backend/src/main/java/com/team5/backend/domain/product/repository/ProductRepositoryImpl.java
  backend/src/main/java/com/team5/backend/domain/product/service/ProductService.java
  backend/src/main/java/com/team5/backend/global/config/QuerydslConfig.java
  backend/src/main/java/com/team5/backend/global/init/BaseInitData.java
  backend/src/test/java/com/team5/backend/domain/category/service/CategoryServiceTest.java
  backend/src/test/java/com/team5/backend/domain/groupBuy/service/GroupBuyServiceTest.java
  backend/src/test/java/com/team5/backend/domain/product/service/ProductServiceTest.java
Labels: 🔥 backend, ♻️ refactor

#163 Refactor/#162 memberid 삽입 방식 변경
  backend/src/main/java/com/team5/backend/domain/groupBuy/controller/GroupBuyController.java
  backend/src/main/java/com/team5/backend/domain/groupBuy/service/GroupBuyService.java
  backend/src/main/java/com/team5/backend/domain/history/controller/HistoryController.java
  backend/src/main/java/com/team5/backend/domain/history/service/HistoryService.java
  backend/src/main/java/com/team5/backend/domain/notification/controller/NotificationController.java
  backend/src/main/java/com/team5/backend/domain/notification/service/NotificationService.java
  backend/src/main/java/com/team5/backend/domain/review/controller/ReviewController.java
  backend/src/main/java/com/team5/backend/domain/review/service/ReviewService.java
  backend/src/test/java/com/team5/backend/domain/groupBuy/service/GroupBuyServiceTest.java
  backend/src/test/java/com/team5/backend/domain/notification/service/NotificationServiceTest.java
  backend/src/test/java/com/team5/backend/domain/review/service/ReviewServiceTest.java
Labels: 🔥 backend, ♻️ refactor

#166 Refactor/#165 카테고리 category→categoryType 수정
  backend/src/main/java/com/team5/backend/domain/category/dto/CategoryDto.java
  backend/src/main/java/com/team5/backend/domain/product/repository/ProductRepository.java
  backend/src/test/java/com/team5/backend/domain/payment/controller/PaymentControllerTest.java
  backend/src/test/java/com/team5/backend/domain/product/service/ProductServiceTest.java
Labels: 🔥 backend, ♻️ refactor

#168 Feat/#153 회원 탈퇴 soft delete 적용
  backend/src/main/generated/com/team5/backend/domain/member/member/entity/QMember.java
  backend/src/main/java/com/team5/backend/domain/groupBuy/controller/GroupBuyController.java
  backend/src/main/java/com/team5/backend/domain/groupBuy/service/GroupBuyService.java
  backend/src/main/java/com/team5/backend/domain/member/member/controller/MemberController.java
  backend/src/main/java/com/team5/backend/domain/member/member/dto/MemberRestoreResDto.java
  backend/src/main/java/com/team5/backend/domain/member/member/entity/Member.java
  backend/src/main/java/com/team5/backend/domain/member/member/repository/MemberRepository.java
  backend/src/main/java/com/team5/backend/domain/member/member/service/AuthService.java
  backend/src/main/java/com/team5/backend/domain/member/member/service/MemberService.java
  backend/src/main/java/com/team5/backend/global/exception/code/MemberErrorCode.java
  backend/src/main/java/com/team5/backend/global/filter/DeletedMemberAuthenticationFilter.java
  backend/src/main/java/com/team5/backend/global/filter/JwtAuthenticationFilter.java
  backend/src/main/java/com/team5/backend/global/handler/OAuth2AuthenticationSuccessHandler.java
  backend/src/main/java/com/team5/backend/global/init/BaseInitData.java
  backend/src/main/java/com/team5/backend/global/security/AuthTokenManager.java
  backend/src/main/java/com/team5/backend/global/security/CustomUserDetailsService.java
  backend/src/main/java/com/team5/backend/global/security/SecurityConfig.java
  backend/src/main/java/com/team5/backend/global/util/JwtUtil.java
  backend/src/main/resources/application-dev.yml
  backend/src/test/java/com/team5/backend/domain/groupBuy/service/GroupBuyServiceTest.java
Labels: ✨ feat, 🔥 backend, ♻️ refactor

#171 Refactor/#167 상품 index 리팩토링
  backend/src/main/java/com/team5/backend/domain/member/admin/controller/AdminProductReindexController.java
Labels: 🔥 backend, ♻️ refactor

#174 Refactor/#170 테스트 코드 변경사항 반영
  backend/src/main/generated/com/team5/backend/domain/member/member/entity/QMember.java
  backend/src/main/java/com/team5/backend/domain/member/member/repository/MemberRepository.java
  backend/src/main/java/com/team5/backend/global/handler/OAuth2AuthenticationSuccessHandler.java
  backend/src/main/java/com/team5/backend/global/security/CustomOauth2UserService.java
  backend/src/main/java/com/team5/backend/global/util/ImageUtil.java
  backend/src/main/resources/application-dev.yml
  backend/src/test/java/com/team5/backend/domain/member/member/controller/MemberControllerTest.java
  backend/src/test/java/com/team5/backend/domain/member/member/service/AuthServiceTest.java
  backend/src/test/java/com/team5/backend/domain/member/member/service/MemberServiceTest.java
Labels: 🔥 backend, ♻️ refactor

#172 Feat/#136 KeywordType enum에 중분류 키워드 항목 추가
  backend/src/main/java/com/team5/backend/domain/category/controller/CategoryController.java
  backend/src/main/java/com/team5/backend/domain/category/dto/KeywordResDto.java
  backend/src/main/java/com/team5/backend/domain/category/entity/Category.java
  backend/src/main/java/com/team5/backend/domain/category/entity/KeywordType.java
  backend/src/main/java/com/team5/backend/domain/category/service/CategoryService.java
  backend/src/main/java/com/team5/backend/global/init/BaseInitData.java
  backend/src/test/java/com/team5/backend/domain/groupBuy/service/GroupBuyServiceTest.java
Labels: ✨ feat, 🔥 backend

#176 Feat/#173 카테고리 공동구매 검색 api 구현
  backend/src/main/java/com/team5/backend/domain/member/admin/controller/AdminGroupBuyReindexController.java
  backend/src/main/java/com/team5/backend/domain/product/search/controller/GroupBuySearchController.java
  backend/src/main/java/com/team5/backend/domain/product/search/document/GroupBuyDocument.java
  backend/src/main/java/com/team5/backend/domain/product/search/repository/GroupBuySearchRepository.java
  backend/src/main/java/com/team5/backend/domain/product/search/service/GroupBuyReindexService.java
  backend/src/main/java/com/team5/backend/domain/product/search/service/GroupBuySearchService.java
Labels: ✨ feat, 🔥 backend

#180 Feat/#179 공동구매 카테고리 검색 api 구현
  backend/src/main/java/com/team5/backend/domain/groupBuy/aspect/GroupBuyViewAspect.java
  backend/src/main/java/com/team5/backend/domain/groupBuy/controller/GroupBuyController.java
  backend/src/main/java/com/team5/backend/domain/groupBuy/dto/GroupBuyDetailResDto.java
  backend/src/main/java/com/team5/backend/domain/groupBuy/repository/GroupBuyRepository.java
  backend/src/main/java/com/team5/backend/domain/groupBuy/service/GroupBuyService.java
  backend/src/main/java/com/team5/backend/domain/review/repository/ReviewRepository.java
Labels: ✨ feat, 🔥 backend

#177 Refactor/156 결제 도메인 리팩토링
  backend/src/main/java/com/team5/backend/domain/delivery/controller/DeliveryController.java
  backend/src/main/java/com/team5/backend/domain/order/controller/OrderController.java
  backend/src/main/java/com/team5/backend/domain/payment/controller/PaymentController.java
  backend/src/main/java/com/team5/backend/domain/payment/service/PaymentService.java
  backend/src/main/java/com/team5/backend/domain/payment/service/TossService.java
  backend/src/main/java/com/team5/backend/global/config/RestClientConfig.java
  backend/src/main/java/com/team5/backend/global/config/RestTemplateConfig.java
  backend/src/test/java/com/team5/backend/domain/delivery/controller/DeliveryControllerTest.java
  backend/src/test/java/com/team5/backend/domain/order/service/OrderServiceTest.java
  backend/src/test/java/com/team5/backend/domain/payment/controller/PaymentControllerTest.java
  backend/src/test/java/com/team5/backend/domain/payment/service/PaymentServiceTest.java
  backend/src/test/java/com/team5/backend/domain/payment/service/TossServiceTest.java
Labels: 🔥 backend, ♻️ refactor, 🧪 test

#182 Refactor/#175 토큰 방식 변경
  backend/src/main/java/com/team5/backend/domain/member/member/controller/MemberController.java
  backend/src/main/java/com/team5/backend/domain/member/member/dto/MemberRestoreResDto.java
  backend/src/main/java/com/team5/backend/domain/member/member/repository/MemberRepository.java
  backend/src/main/java/com/team5/backend/domain/member/member/service/AuthService.java
  backend/src/main/java/com/team5/backend/domain/member/member/service/MemberService.java
  backend/src/main/java/com/team5/backend/global/app/AppConfig.java
  backend/src/main/java/com/team5/backend/global/filter/JwtAuthenticationFilter.java
  backend/src/main/java/com/team5/backend/global/handler/OAuth2AuthenticationSuccessHandler.java
  backend/src/main/java/com/team5/backend/global/security/AuthTokenManager.java
Labels: 🔥 backend, ♻️ refactor

#185 Refactor/178 주문 일부 기능 리팩토링
  backend/src/main/java/com/team5/backend/domain/order/controller/OrderController.java
  backend/src/main/java/com/team5/backend/domain/order/repository/OrderRepository.java
  backend/src/main/java/com/team5/backend/domain/order/service/OrderService.java
  backend/src/main/java/com/team5/backend/global/init/BaseInitData.java
  backend/src/test/java/com/team5/backend/domain/order/service/OrderServiceTest.java
Labels: 🔥 backend, ♻️ refactor

#190 refactor: 모든 카테고리마다 상품 하나씩 생기게 조정
  backend/src/main/java/com/team5/backend/global/init/BaseInitData.java
Labels: 🔥 backend, ♻️ refactor

#193 Refactor/#191 카테고리로 공동구매 검색 api 수정
  backend/src/main/java/com/team5/backend/domain/groupBuy/repository/GroupBuyRepository.java
  backend/src/main/java/com/team5/backend/domain/groupBuy/service/GroupBuyService.java
  backend/src/main/java/com/team5/backend/global/init/BaseInitData.java
  backend/src/test/java/com/team5/backend/domain/groupBuy/service/GroupBuyServiceTest.java
Labels: 🔥 backend, ♻️ refactor

#192 refactor: productsearch를 삭제하고 groupbuysearch추가
  backend/src/main/java/com/team5/backend/domain/groupBuy/repository/GroupBuyRepository.java
  backend/src/main/java/com/team5/backend/domain/groupBuy/search/controller/GroupBuySearchController.java
  backend/src/main/java/com/team5/backend/domain/groupBuy/search/document/GroupBuyDocument.java
  backend/src/main/java/com/team5/backend/domain/groupBuy/search/repository/GroupBuySearchRepository.java
  backend/src/main/java/com/team5/backend/domain/groupBuy/search/service/GroupBuyReindexService.java
  backend/src/main/java/com/team5/backend/domain/groupBuy/search/service/GroupBuySearchService.java
  backend/src/main/java/com/team5/backend/domain/groupBuy/service/GroupBuyService.java
  backend/src/main/java/com/team5/backend/domain/member/admin/controller/AdminGroupBuyReindexController.java
  backend/src/main/java/com/team5/backend/domain/member/admin/controller/AdminProductReindexController.java
  backend/src/main/java/com/team5/backend/domain/product/search/controller/ProductSearchController.java
  backend/src/main/java/com/team5/backend/domain/product/search/document/ProductDocument.java
  backend/src/main/java/com/team5/backend/domain/product/search/repository/ProductSearchRepository.java
  backend/src/main/java/com/team5/backend/domain/product/search/service/ProductReindexService.java
  backend/src/main/java/com/team5/backend/domain/product/search/service/ProductSearchService.java
  backend/src/main/java/com/team5/backend/domain/product/service/ProductService.java
  backend/src/main/java/com/team5/backend/global/exception/code/GroupBuySearchErrorCode.java
  backend/src/main/resources/application-dev.yml
  backend/src/test/java/com/team5/backend/domain/product/service/ProductServiceTest.java
Labels: 🔥 backend, ♻️ refactor

#197 Refactor/#196 리뷰 리팩토링
  backend/src/main/java/com/team5/backend/domain/review/service/ReviewService.java
  backend/src/main/java/com/team5/backend/global/init/BaseInitData.java
Labels: 🔥 backend, ♻️ refactor

#200 Refactor/#188 회원 리팩토링
  backend/src/main/generated/com/team5/backend/domain/review/entity/QReview.java
  backend/src/main/java/com/team5/backend/domain/member/member/controller/MemberController.java
  backend/src/main/java/com/team5/backend/domain/member/member/dto/GetMemberResDto.java
  backend/src/main/java/com/team5/backend/domain/member/member/dto/TokenRefreshResDto.java
  backend/src/main/java/com/team5/backend/domain/member/member/service/MailService.java
  backend/src/main/java/com/team5/backend/domain/member/member/service/MemberService.java
  backend/src/main/java/com/team5/backend/global/filter/JwtAuthenticationFilter.java
  backend/src/main/java/com/team5/backend/global/handler/OAuth2AuthenticationSuccessHandler.java
  backend/src/main/java/com/team5/backend/global/security/CookieRequestWrapper.java
Labels: 🔥 backend, ♻️ refactor

#202 Feat/186 결제 내역 기능 추가
  backend/src/main/java/com/team5/backend/domain/payment/controller/PaymentController.java
  backend/src/main/java/com/team5/backend/domain/payment/dto/PaymentResDto.java
  backend/src/main/java/com/team5/backend/domain/payment/repository/PaymentRepository.java
  backend/src/main/java/com/team5/backend/domain/payment/service/PaymentService.java
  backend/src/main/java/com/team5/backend/domain/payment/service/TossService.java
  backend/src/main/java/com/team5/backend/domain/payment/util/CardCodeMapper.java
  backend/src/main/java/com/team5/backend/global/exception/code/PaymentErrorCode.java
  backend/src/main/resources/data/기관코드.csv
  backend/src/test/java/com/team5/backend/domain/payment/controller/PaymentControllerTest.java
  backend/src/test/java/com/team5/backend/domain/payment/service/TossServiceTest.java
Labels: ✨ feat, 🔥 backend

#201 Refactor/#199 헤더 api 구현 완료
  backend/src/main/java/com/team5/backend/domain/groupBuy/controller/GroupBuyController.java
  backend/src/main/java/com/team5/backend/domain/groupBuy/repository/GroupBuyRepository.java
  backend/src/main/java/com/team5/backend/domain/groupBuy/search/controller/GroupBuySearchController.java
  backend/src/main/java/com/team5/backend/domain/groupBuy/service/GroupBuyService.java
Labels: 🔥 backend, ♻️ refactor

#205 Fix/#204 dibs 페이징 조회 시 500 오류 수정
  backend/src/main/java/com/team5/backend/domain/dibs/dto/DibsResDto.java
  backend/src/main/java/com/team5/backend/domain/dibs/entity/Dibs.java
Labels: 🐛 bug, 🔥 backend

#194 Feat/#187 사용자 상품 등록 요청 API 구현
  backend/src/main/java/com/team5/backend/domain/member/admin/controller/AdminController.java
  backend/src/main/java/com/team5/backend/domain/member/admin/dto/ProductRequestUpdateReqDto.java
  backend/src/main/java/com/team5/backend/domain/member/admin/service/AdminService.java
  backend/src/main/java/com/team5/backend/domain/member/productrequest/controller/ProductRequestController.java
  backend/src/main/java/com/team5/backend/domain/member/productrequest/dto/ProductRequestCreateReqDto.java
  backend/src/main/java/com/team5/backend/domain/member/productrequest/dto/ProductRequestResDto.java
  backend/src/main/java/com/team5/backend/domain/member/productrequest/entity/ProductRequest.java
  backend/src/main/java/com/team5/backend/domain/member/productrequest/entity/ProductRequestStatus.java
  backend/src/main/java/com/team5/backend/domain/member/productrequest/repository/ProductRequestRepository.java
  backend/src/main/java/com/team5/backend/domain/member/productrequest/service/ProductRequestService.java
  backend/src/main/java/com/team5/backend/global/init/BaseInitData.java
Labels: ✨ feat, 🔥 backend

#209 Fix/#208 BaseInitData Dibs createdAt 누락 수정
  backend/src/main/java/com/team5/backend/global/init/BaseInitData.java
Labels: 🐛 bug, 🔥 backend

#206 Refactor/#198 구매 시 구매내역 및 알림 자동 생성
  backend/src/main/java/com/team5/backend/domain/order/controller/OrderController.java
  backend/src/main/java/com/team5/backend/domain/order/dto/OrderCreateReqDto.java
  backend/src/main/java/com/team5/backend/domain/order/service/OrderService.java
  backend/src/main/java/com/team5/backend/domain/payment/service/PaymentService.java
Labels: 🔥 backend, ♻️ refactor

#214 Refactor/#213 전체 리뷰 조회 정렬 기능 추가
  backend/src/main/java/com/team5/backend/domain/review/controller/ReviewController.java
  backend/src/main/java/com/team5/backend/domain/review/entity/ReviewSortField.java
  backend/src/main/java/com/team5/backend/domain/review/service/ReviewService.java
Labels: 🔥 backend, ♻️ refactor

#215 Refactor/#212 로그아웃 리팩토링
  backend/src/main/java/com/team5/backend/domain/member/member/service/AuthService.java
  backend/src/main/java/com/team5/backend/global/handler/OAuth2AuthenticationSuccessHandler.java
  backend/src/main/java/com/team5/backend/global/util/JwtUtil.java
Labels: 🔥 backend, ♻️ refactor

#219 baseinitdata : 리뷰 수 추가
  backend/src/main/java/com/team5/backend/domain/order/entity/OrderStatus.java
  backend/src/main/java/com/team5/backend/global/init/BaseInitData.java
Labels: 🔥 backend, ♻️ refactor

#220 Refactor/#217 회원 정보 조회 수정
  backend/src/main/generated/com/team5/backend/domain/member/member/entity/QMember.java
  backend/src/main/java/com/team5/backend/domain/member/member/dto/GetMemberResDto.java
  backend/src/main/java/com/team5/backend/domain/member/member/dto/PatchMemberReqDto.java
  backend/src/main/java/com/team5/backend/domain/member/member/dto/SignupReqDto.java
  backend/src/main/java/com/team5/backend/domain/member/member/entity/Member.java
  backend/src/main/java/com/team5/backend/domain/member/member/service/MemberService.java
  backend/src/main/java/com/team5/backend/global/init/BaseInitData.java
Labels: 🔥 backend, ♻️ refactor

#222 refactor: 관심상품 유저 정보 @AuthenticationPrincipal로 수정
  backend/src/main/java/com/team5/backend/domain/dibs/controller/DibsController.java
  backend/src/main/java/com/team5/backend/domain/dibs/service/DibsService.java
Labels: 🔥 backend, ♻️ refactor

#228 Refactor/#227 멤버별 참여한 공동구매 조회 api 오류 수정
  backend/src/main/java/com/team5/backend/domain/groupBuy/service/GroupBuyService.java
  backend/src/main/java/com/team5/backend/domain/history/repository/HistoryRepository.java
Labels: 🔥 backend, ♻️ refactor

#229 Feat/#226 security 권한 설정
  backend/src/main/java/com/team5/backend/domain/member/productrequest/controller/ProductRequestController.java
  backend/src/main/java/com/team5/backend/global/annotation/CheckAdmin.java
  backend/src/main/java/com/team5/backend/global/aspect/AdminPermissionAspect.java
  backend/src/main/java/com/team5/backend/global/exception/code/AuthErrorCode.java
  backend/src/main/java/com/team5/backend/global/exception/code/MemberErrorCode.java
  backend/src/main/java/com/team5/backend/global/security/SecurityConfig.java
Labels: ✨ feat, 🔥 backend

#231 Refactor/223 배송 상태 변경 api 리팩토링
  backend/src/main/java/com/team5/backend/domain/delivery/controller/DeliveryController.java
  backend/src/main/java/com/team5/backend/domain/delivery/dto/DeliveryReqDto.java
  backend/src/main/java/com/team5/backend/domain/delivery/dto/DeliveryStatusUpdateReqDto.java
  backend/src/main/java/com/team5/backend/domain/delivery/dto/DeliveryStatusUpdateResDto.java
  backend/src/main/java/com/team5/backend/domain/delivery/entity/Delivery.java
  backend/src/main/java/com/team5/backend/domain/delivery/entity/DeliveryStatus.java
  backend/src/main/java/com/team5/backend/domain/delivery/service/DeliveryService.java
  backend/src/main/java/com/team5/backend/domain/delivery/service/ShippingGenerator.java
  backend/src/main/java/com/team5/backend/domain/order/controller/OrderController.java
  backend/src/main/java/com/team5/backend/domain/order/entity/FilterStatus.java
  backend/src/main/java/com/team5/backend/domain/order/service/OrderService.java
  backend/src/test/java/com/team5/backend/domain/delivery/controller/DeliveryControllerTest.java
  backend/src/test/java/com/team5/backend/domain/delivery/service/DeliveryServiceTest.java
  backend/src/test/java/com/team5/backend/domain/order/controller/OrderControllerTest.java
  backend/src/test/java/com/team5/backend/domain/order/service/OrderServiceTest.java
Labels: ✨ feat, 🔥 backend, ♻️ refactor

#236 Refactor/#232 product fetchjoin, getAllRequests 상태별 조회
  backend/src/main/java/com/team5/backend/domain/member/productrequest/controller/ProductRequestController.java
  backend/src/main/java/com/team5/backend/domain/member/productrequest/service/ProductRequestService.java
  backend/src/main/java/com/team5/backend/domain/product/repository/ProductRepositoryImpl.java
Labels: ✨ feat, 🔥 backend

#238 feat: 상태별 상품등록요청 조회 및 승인시 product 자동 생성
  backend/src/main/java/com/team5/backend/domain/member/productrequest/controller/ProductRequestController.java
  backend/src/main/java/com/team5/backend/domain/member/productrequest/service/ProductRequestService.java
Labels: ✨ feat, 🔥 backend

#240 Feat/#234 상품 이미지 등록 추가
  backend/src/main/java/com/team5/backend/domain/member/member/controller/MemberController.java
  backend/src/main/java/com/team5/backend/domain/member/member/dto/PatchMemberReqDto.java
  backend/src/main/java/com/team5/backend/domain/member/member/repository/MemberRepository.java
  backend/src/main/java/com/team5/backend/domain/member/member/service/MemberService.java
  backend/src/main/java/com/team5/backend/domain/member/productrequest/controller/ProductRequestController.java
  backend/src/main/java/com/team5/backend/domain/member/productrequest/dto/ProductRequestCreateReqDto.java
  backend/src/main/java/com/team5/backend/domain/member/productrequest/service/ProductRequestService.java
  backend/src/main/java/com/team5/backend/global/exception/code/MemberErrorCode.java
  backend/src/main/java/com/team5/backend/global/exception/code/ProductRequestErrorCode.java
  backend/src/main/java/com/team5/backend/global/util/ImageType.java
  backend/src/main/java/com/team5/backend/global/util/ImageUtil.java
Labels: ✨ feat, 🔥 backend, ♻️ refactor

#241 Feat/#239 상품 등록 요청 목록/상세 전용 DTO 분리
  backend/src/main/java/com/team5/backend/domain/member/admin/controller/AdminController.java
  backend/src/main/java/com/team5/backend/domain/member/admin/service/AdminService.java
  backend/src/main/java/com/team5/backend/domain/member/productrequest/controller/ProductRequestController.java
  backend/src/main/java/com/team5/backend/domain/member/productrequest/dto/ProductRequestCreateReqDto.java
  backend/src/main/java/com/team5/backend/domain/member/productrequest/dto/ProductRequestDetailResDto.java
  backend/src/main/java/com/team5/backend/domain/member/productrequest/dto/ProductRequestListResDto.java
  backend/src/main/java/com/team5/backend/domain/member/productrequest/service/ProductRequestService.java
Labels: ✨ feat, 🔥 backend

#244 refactor: 상품 이미지 필드 길이 제한 문제 수정
  backend/src/main/java/com/team5/backend/domain/member/productrequest/controller/ProductRequestController.java
  backend/src/main/java/com/team5/backend/domain/member/productrequest/dto/ProductRequestCreateReqDto.java
  backend/src/main/java/com/team5/backend/domain/product/entity/Product.java
Labels: 🔥 backend, ♻️ refactor

#248 Feat/#242 응답에 categoryId를 CategoryDto 수정
  backend/src/main/java/com/team5/backend/domain/category/dto/CategoryCreateReqDto.java
  backend/src/main/java/com/team5/backend/domain/category/dto/CategoryDto.java
  backend/src/main/java/com/team5/backend/domain/category/dto/CategoryResDto.java
  backend/src/main/java/com/team5/backend/domain/category/dto/CategoryUpdateReqDto.java
  backend/src/main/java/com/team5/backend/domain/category/entity/Category.java
  backend/src/main/java/com/team5/backend/domain/category/service/CategoryService.java
  backend/src/main/java/com/team5/backend/domain/groupBuy/search/document/GroupBuyDocument.java
  backend/src/main/java/com/team5/backend/domain/groupBuy/search/service/GroupBuySearchService.java
  backend/src/main/java/com/team5/backend/domain/member/admin/controller/AdminController.java
  backend/src/main/java/com/team5/backend/domain/member/productrequest/controller/ProductRequestController.java
  backend/src/main/java/com/team5/backend/domain/member/productrequest/dto/ProductRequestCreateReqDto.java
  backend/src/main/java/com/team5/backend/domain/member/productrequest/dto/ProductRequestDetailResDto.java
  backend/src/main/java/com/team5/backend/domain/member/productrequest/dto/ProductRequestListResDto.java
  backend/src/main/java/com/team5/backend/domain/product/dto/ProductResDto.java
  backend/src/main/java/com/team5/backend/domain/product/dto/ProductUpdateReqDto.java
  backend/src/main/java/com/team5/backend/domain/product/service/ProductService.java
  backend/src/main/java/com/team5/backend/global/init/BaseInitData.java
Labels: ✨ feat, 🔥 backend

#252 Refactor/#251 api 관리자 어노테이션 추가
  backend/src/main/java/com/team5/backend/domain/category/controller/CategoryController.java
  backend/src/main/java/com/team5/backend/domain/delivery/controller/DeliveryController.java
  backend/src/main/java/com/team5/backend/domain/groupBuy/controller/GroupBuyController.java
  backend/src/main/java/com/team5/backend/domain/history/controller/HistoryController.java
  backend/src/main/java/com/team5/backend/domain/member/admin/controller/AdminGroupBuyReindexController.java
  backend/src/main/java/com/team5/backend/domain/notification/controller/NotificationController.java
  backend/src/main/java/com/team5/backend/domain/order/controller/OrderController.java
  backend/src/main/java/com/team5/backend/domain/review/controller/ReviewController.java
Labels: 🔥 backend, ♻️ refactor

#258 refactor: 쿠키 방식 시 액세스 토큰 만료 되었을 때 자동 갱신
  backend/src/main/java/com/team5/backend/global/filter/JwtAuthenticationFilter.java
Labels: 🔥 backend, ♻️ refactor

#263 Fix/#255 dibs null dibcount
  backend/src/main/java/com/team5/backend/domain/dibs/entity/Dibs.java
  backend/src/main/java/com/team5/backend/domain/dibs/service/DibsService.java
  backend/src/main/java/com/team5/backend/domain/product/entity/Product.java
Labels: 🐛 bug, 🔥 backend

#261 Feat/243 이벤트 발생시 알림 자동 생성
  backend/src/main/java/com/team5/backend/domain/delivery/service/DeliveryService.java
  backend/src/main/java/com/team5/backend/domain/dibs/repository/DibsRepository.java
  backend/src/main/java/com/team5/backend/domain/groupBuy/repository/GroupBuyRepository.java
  backend/src/main/java/com/team5/backend/domain/member/productrequest/controller/ProductRequestController.java
  backend/src/main/java/com/team5/backend/domain/member/productrequest/service/ProductRequestService.java
  backend/src/main/java/com/team5/backend/domain/notification/controller/NotificationController.java
  backend/src/main/java/com/team5/backend/domain/notification/entity/NotificationType.java
  backend/src/main/java/com/team5/backend/domain/notification/redis/NotificationEventMessage.java
  backend/src/main/java/com/team5/backend/domain/notification/redis/NotificationPublisher.java
  backend/src/main/java/com/team5/backend/domain/notification/redis/NotificationSubscriber.java
  backend/src/main/java/com/team5/backend/domain/notification/repository/NotificationRepository.java
  backend/src/main/java/com/team5/backend/domain/notification/service/DibsDeadlineNotificationScheduler.java
  backend/src/main/java/com/team5/backend/domain/notification/service/NotificationService.java
  backend/src/main/java/com/team5/backend/domain/notification/template/NotificationTemplateFactory.java
  backend/src/main/java/com/team5/backend/domain/notification/template/NotificationTemplateType.java
  backend/src/main/java/com/team5/backend/domain/order/repository/OrderRepository.java
  backend/src/main/java/com/team5/backend/domain/order/service/OrderService.java
  backend/src/main/java/com/team5/backend/domain/payment/service/PaymentService.java
  backend/src/main/java/com/team5/backend/global/config/notification/RedisNotificationConfig.java
  backend/src/main/java/com/team5/backend/global/config/notification/RedisSubscriberConfig.java
  backend/src/main/java/com/team5/backend/global/exception/code/NotificationErrorCode.java
  backend/src/main/java/com/team5/backend/global/init/BaseInitData.java
  backend/src/test/java/com/team5/backend/domain/notification/service/NotificationServiceTest.java
Labels: ✨ feat, 🔥 backend
