Repository prgrms-web-devcourse-final-project/WEB4_5_Sahur_BE, pull requests merged in 2025-04, with the labels that each got.

#5 docs: jpa 의존성 추가
  backend/build.gradle
Labels: ⚙️ chore

#7 Feat/#4 공동구매 레이어드 아키텍처 구현
  backend/src/main/java/com/team5/backend/domain/groupBuy/controller/GroupBuyController.java
  backend/src/main/java/com/team5/backend/domain/groupBuy/dto/GroupBuyCreateReqDto.java
  backend/src/main/java/com/team5/backend/domain/groupBuy/dto/GroupBuyResDto.java
  backend/src/main/java/com/team5/backend/domain/groupBuy/dto/GroupBuyUpdateReqDto.java
  backend/src/main/java/com/team5/backend/domain/groupBuy/entity/GroupBuy.java
  backend/src/main/java/com/team5/backend/domain/groupBuy/entity/GroupBuyStatus.java
  backend/src/main/java/com/team5/backend/domain/groupBuy/repository/GroupBuyRepository.java
  backend/src/main/java/com/team5/backend/domain/groupBuy/service/GroupBuyService.java
Labels: ✨ feat, 🔥 backend

#9 Feat/#1 global기본 요소, H2
  backend/build.gradle
  backend/db_dev.mv.db
  backend/src/main/java/com/team5/backend/BackendApplication.java
  backend/src/main/java/com/team5/backend/global/app/AppConfig.java
  backend/src/main/java/com/team5/backend/global/dto/Empty.java
  backend/src/main/java/com/team5/backend/global/dto/RsData.java
  backend/src/main/java/com/team5/backend/global/entity/BaseEntity.java
  backend/src/main/java/com/team5/backend/global/entity/BaseTime.java
  backend/src/main/java/com/team5/backend/global/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/team5/backend/global/exception/ServiceException.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/application.yml
Labels: ✨ feat

#10 Feat/#8 리뷰 레이어드 아키텍처 구현
  backend/src/main/java/com/team5/backend/domain/groupBuy/controller/GroupBuyController.java
  backend/src/main/java/com/team5/backend/domain/review/controller/ReviewController.java
  backend/src/main/java/com/team5/backend/domain/review/dto/ReviewCreateReqDto.java
  backend/src/main/java/com/team5/backend/domain/review/dto/ReviewResDto.java
  backend/src/main/java/com/team5/backend/domain/review/dto/ReviewUpdateReqDto.java
  backend/src/main/java/com/team5/backend/domain/review/entity/Review.java
  backend/src/main/java/com/team5/backend/domain/review/repository/ReviewRepository.java
  backend/src/main/java/com/team5/backend/domain/review/service/ReviewService.java
Labels: ✨ feat, 🔥 backend

#15 feat: ai code review
  .github/workflows/main.yml
  backend/build.gradle
  backend/db_dev.mv.db
  backend/src/main/java/com/team5/backend/BackendApplication.java
  backend/src/main/java/com/team5/backend/domain/groupBuy/controller/GroupBuyController.java
  backend/src/main/java/com/team5/backend/domain/groupBuy/dto/GroupBuyCreateReqDto.java
  backend/src/main/java/com/team5/backend/domain/groupBuy/dto/GroupBuyResDto.java
  backend/src/main/java/com/team5/backend/domain/groupBuy/dto/GroupBuyUpdateReqDto.java
  backend/src/main/java/com/team5/backend/domain/groupBuy/entity/GroupBuy.java
  backend/src/main/java/com/team5/backend/domain/groupBuy/entity/GroupBuyStatus.java
  backend/src/main/java/com/team5/backend/domain/groupBuy/repository/GroupBuyRepository.java
  backend/src/main/java/com/team5/backend/domain/groupBuy/service/GroupBuyService.java
  backend/src/main/java/com/team5/backend/domain/review/controller/ReviewController.java
  backend/src/main/java/com/team5/backend/domain/review/dto/ReviewCreateReqDto.java
  backend/src/main/java/com/team5/backend/domain/review/dto/ReviewResDto.java
  backend/src/main/java/com/team5/backend/domain/review/dto/ReviewUpdateReqDto.java
  backend/src/main/java/com/team5/backend/domain/review/entity/Review.java
  backend/src/main/java/com/team5/backend/domain/review/repository/ReviewRepository.java
  backend/src/main/java/com/team5/backend/domain/review/service/ReviewService.java
  backend/src/main/java/com/team5/backend/global/app/AppConfig.java
  backend/src/main/java/com/team5/backend/global/dto/Empty.java
  backend/src/main/java/com/team5/backend/global/dto/RsData.java
  backend/src/main/java/com/team5/backend/global/entity/BaseEntity.java
  backend/src/main/java/com/team5/backend/global/entity/BaseTime.java
  backend/src/main/java/com/team5/backend/global/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/team5/backend/global/exception/ServiceException.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/application.yml
Labels: 🔥 backend

#14 Feat/#3 주문 레이어드 아키텍처 구현
  backend/src/main/java/com/team5/backend/domain/order/controller/OrderController.java
  backend/src/main/java/com/team5/backend/domain/order/dto/OrderDetailResDto.java
  backend/src/main/java/com/team5/backend/domain/order/dto/OrderListResDto.java
  backend/src/main/java/com/team5/backend/domain/order/entity/Order.java
  backend/src/main/java/com/team5/backend/domain/order/entity/OrderStatus.java
  backend/src/main/java/com/team5/backend/domain/order/repository/OrderRepository.java
  backend/src/main/java/com/team5/backend/domain/order/service/OrderService.java
Labels: ✨ feat, 🔥 backend

#13 Feat/#6 상품 레이어드 아키텍처 구현
  backend/src/main/java/com/team5/backend/domain/product/controller/ProductController.java
  backend/src/main/java/com/team5/backend/domain/product/dto/ProductCreateReqDto.java
  backend/src/main/java/com/team5/backend/domain/product/dto/ProductResDto.java
  backend/src/main/java/com/team5/backend/domain/product/dto/ProductUpdateReqDto.java
  backend/src/main/java/com/team5/backend/domain/product/entity/Product.java
  backend/src/main/java/com/team5/backend/domain/product/repository/ProductRepository.java
  backend/src/main/java/com/team5/backend/domain/product/service/ProductService.java
  backend/src/main/resources/application.yml
Labels: ✨ feat, 🔥 backend

#21 Feat/#17 결제 레이어드 아키텍처 구현
  backend/src/main/java/com/team5/backend/domain/payment/controller/PaymentController.java
  backend/src/main/java/com/team5/backend/domain/payment/entity/Payment.java
  backend/src/main/java/com/team5/backend/domain/payment/repository/PaymentRepository.java
  backend/src/main/java/com/team5/backend/domain/payment/service/PaymentService.java
Labels: ✨ feat, 🔥 backend

#25 Feat/#23 배송 레이어드 아키텍처 구현
  backend/src/main/java/com/team5/backend/domain/delivery/controller/DeliveryController.java
  backend/src/main/java/com/team5/backend/domain/delivery/dto/DeliveryReqDto.java
  backend/src/main/java/com/team5/backend/domain/delivery/dto/DeliveryResDto.java
  backend/src/main/java/com/team5/backend/domain/delivery/entity/Delivery.java
  backend/src/main/java/com/team5/backend/domain/delivery/repository/DeliveryRepository.java
  backend/src/main/java/com/team5/backend/domain/delivery/service/DeliveryService.java
  backend/src/main/java/com/team5/backend/domain/order/controller/OrderController.java
Labels: ✨ feat, 🔥 backend

#27 Feat/#16 카테고리 레이어드 아키텍처 구현
  backend/src/main/java/com/team5/backend/domain/category/controller/CategoryController.java
  backend/src/main/java/com/team5/backend/domain/category/dto/CategoryCreateReqDto.java
  backend/src/main/java/com/team5/backend/domain/category/dto/CategoryResDto.java
  backend/src/main/java/com/team5/backend/domain/category/dto/CategoryUpdateReqDto.java
  backend/src/main/java/com/team5/backend/domain/category/entity/Category.java
  backend/src/main/java/com/team5/backend/domain/category/entity/CategoryType.java
  backend/src/main/java/com/team5/backend/domain/category/entity/KeywordType.java
  backend/src/main/java/com/team5/backend/domain/category/repository/CategoryRepository.java
  backend/src/main/java/com/team5/backend/domain/category/service/CategoryService.java
Labels: ✨ feat, 🔥 backend

#32 Feat/#28 관심상품 레이어드 아키텍처 구현
  backend/src/main/java/com/team5/backend/domain/dibs/controller/DibsController.java
  backend/src/main/java/com/team5/backend/domain/dibs/dto/DibsCreateReqDto.java
  backend/src/main/java/com/team5/backend/domain/dibs/dto/DibsResDto.java
  backend/src/main/java/com/team5/backend/domain/dibs/entity/Dibs.java
  backend/src/main/java/com/team5/backend/domain/dibs/repository/DibsRepository.java
  backend/src/main/java/com/team5/backend/domain/dibs/service/DibsService.java
Labels: ✨ feat, 🔥 backend

#38 Feat/#36 이메일 인증 기능 구현
  backend/build.gradle
  backend/src/main/java/com/team5/backend/domain/dibs/entity/Dibs.java
  backend/src/main/java/com/team5/backend/domain/dibs/service/DibsService.java
  backend/src/main/java/com/team5/backend/domain/groupBuy/service/GroupBuyService.java
  backend/src/main/java/com/team5/backend/domain/history/repository/HistoryRepository.java
  backend/src/main/java/com/team5/backend/domain/member/member/controller/MemberController.java
  backend/src/main/java/com/team5/backend/domain/member/member/dto/EmailVerificationRequestDto.java
  backend/src/main/java/com/team5/backend/domain/member/member/entity/Member.java
  backend/src/main/java/com/team5/backend/domain/member/member/service/AuthService.java
  backend/src/main/java/com/team5/backend/domain/member/member/service/MailService.java
  backend/src/main/java/com/team5/backend/domain/member/member/service/MemberService.java
  backend/src/main/java/com/team5/backend/global/config/MailConfig.java
  backend/src/main/java/com/team5/backend/global/security/SecurityConfig.java
Labels: ✨ feat, 🔥 backend
