Repository prgrms-web-devcourse-final-project/WEB4_5_Sahur_BE, pull requests merged in 2025-06, with the labels that each got.

#267 Feat/264 주문 생성/삭제시 참여수 업데이트
  backend/src/main/java/com/team5/backend/domain/groupBuy/entity/GroupBuy.java
  backend/src/main/java/com/team5/backend/domain/groupBuy/service/GroupBuyService.java
  backend/src/main/java/com/team5/backend/domain/history/repository/HistoryRepository.java
  backend/src/main/java/com/team5/backend/domain/notification/redis/NotificationSubscriber.java
  backend/src/main/java/com/team5/backend/domain/order/service/OrderService.java
Labels: ✨ feat, 🔥 backend, ♻️ refactor

#270 Feat/#269 마이페이지 api 연동
  backend/src/main/java/com/team5/backend/domain/member/member/service/MemberService.java
  backend/src/main/java/com/team5/backend/global/util/ImageUtil.java
  frontend/src/layout/mypage/MyPageProfileCard.js
  frontend/src/layout/mypage/MyPageSidebar.js
  frontend/src/pages/login/DetailAdrForm.js
  frontend/src/pages/login/ProfileImageZone.js
  frontend/src/pages/mypage/dashboard/MyPageDashboard.js
  frontend/src/pages/mypage/dibs/Dibs.module.scss
  frontend/src/pages/mypage/dibs/MyPageDibs.js
  frontend/src/pages/mypage/dibs/ProductCard.js
  frontend/src/pages/mypage/orders/MyPageOrders.js
  frontend/src/pages/mypage/orders/MyPageOrders.module.scss
  frontend/src/pages/mypage/orders/MyPageOrdersDetail.js
  frontend/src/pages/mypage/payments/MyPagePayments.js
  frontend/src/pages/mypage/payments/OrderInfo.js
  frontend/src/pages/mypage/payments/PaymentDetail.js
  frontend/src/pages/mypage/payments/PaymentList.js
  frontend/src/pages/mypage/payments/SearchBox.js
  frontend/src/pages/mypage/profile/MyPageProfile.js
  frontend/src/pages/mypage/requests/CreateRequestImageBox.js
  frontend/src/pages/mypage/requests/MyPageRequest.js
  frontend/src/pages/mypage/requests/MyPageRequests.js
  frontend/src/pages/mypage/requests/RequestCard.js
  frontend/src/pages/mypage/reviews/MyPageReviews.css
  frontend/src/pages/mypage/reviews/MyPageReviews.js
Labels: ✨ feat, 🔥 backend, 🌈 frontend, ♻️ refactor

#271 Refactor/헤더 수정
  frontend/src/layout/main/components/NavigationMenu.js
Labels: 🌈 frontend, ♻️ refactor
